<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Searchautocomplete>
				<version>0.1.1</version>
		</Magebuzz_Searchautocomplete>
	</modules>
	<frontend>
		<secure_url>
			<searchautocomplete>/searchautocomplete/</searchautocomplete>
		</secure_url>	
		<routers>
			<searchautocomplete>
				<use>standard</use>
				<args>
					<module>Magebuzz_Searchautocomplete</module>
					<frontName>searchautocomplete</frontName>
				</args>
			</searchautocomplete>
		</routers>
		<layout>
			<updates>
				<searchautocomplete>
					<file>searchautocomplete.xml</file>
				</searchautocomplete>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Searchautocomplete>
					<files>
						<default>Magebuzz_Searchautocomplete.csv</default>
					</files>
				</Magebuzz_Searchautocomplete>
			</modules>
		</translate>	
	</frontend>
	<admin>
		<routers>
			<searchautocomplete>
				<use>admin</use>
				<args>
					<module>Magebuzz_Searchautocomplete</module>
					<frontName>searchautocomplete</frontName>
				</args>
			</searchautocomplete>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<searchautocomplete>
					<file>searchautocomplete.xml</file>
				</searchautocomplete>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Searchautocomplete>
					<files>
						<default>Magebuzz_Searchautocomplete.csv</default>
					</files>
				</Magebuzz_Searchautocomplete>
			</modules>
		</translate>	
	</adminhtml>   
	<global>
		<models>		
		</models>	
		<blocks>
			<searchautocomplete>
				<class>Magebuzz_Searchautocomplete_Block</class>
			</searchautocomplete>	
		</blocks>
		<helpers>
			<searchautocomplete>
				<class>Magebuzz_Searchautocomplete_Helper</class>
			</searchautocomplete>
		</helpers>
		<template>
			<email>
				<searchautocomplete_general_email_template>
					<label>Title Email</label>
					<file>searchautocomplete_example.html</file>
					<type>html</type>
				</searchautocomplete_general_email_template>
			</email>
		</template>			
	</global>
	<default>
		<searchautocomplete>
			<general>
				<is_active>1</is_active>
				<min_character>3</min_character>			
				<searchable_attributes>97,96</searchable_attributes>			
				<search_by_tag>1</search_by_tag>			
			</general>
			<display_setting>
				<number_results>10</number_results>
				<show_out_of_stock>0</show_out_of_stock>
				<search_result_heading><![CDATA[See more results for "<span class="keyword">{{keyword}}</span>"]]></search_result_heading>
				<is_show_thumbnail>1</is_show_thumbnail>
				<thumbnail_product_image_size>60</thumbnail_product_image_size>
				<is_show_description>0</is_show_description>
				<limit_character_product_desc>120</limit_character_product_desc>
			</display_setting>
		</searchautocomplete>
	</default>
</config>